{
    "parser": "babel-eslint",
    "env": {
      "mocha": true    
    },
    "extends": ["airbnb", "plugin:flowtype/recommended"],
    "plugins": [
      "react",
      "jsx-a11y",
      "import",
      "flowtype",
      "chai-expect",
      "prettier"
    ],
    "rules": {
      "quotes": ["error", "double"]
    }
  }
  